<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
 
  <div id="content">
    <h1>Hey, I'm Muhammed kanyi</h1>
    <p>Welcome to week 2 of my 12 Web Apps in 12 Weeks Challenge.</p>
    <p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
    <p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/smilebok_tk">@Smilebok</a> or on the web at <a href="https://geniuskid.smilebok.tk">Bitbucket</a></p>
  </div>
</div>