<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
          BLOG
        <% end %>
      </div>
 
      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
 
      <ul>
       <li class="category">Social</li>
       <li><a href="https://twitter.com/mackenziechild">Twitter</a></li>
       <li><a href="http://instagram.com/mackenziechild">Instagram</a></li>
       <li><a href="https://github.com/mackenziechild">Github</a></li>
       <li><a href="mailto:hey@mackenziechild.me">Email</a></li>
      </ul>
 
      <% if !user_signed_in? %>
  <p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
<% end %>
    </div>
  <% if !user_signed_in? %>
  <p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
<% end %>
  </div>
 
  <div id="main_content">
    <div id="header">
      <% if current_page?(root_path) %>
    <p>All Posts</p>
  <% elsif current_page?(about_path) %>
    <p>About</p>
  <% else %>
    <%= link_to "Back to All Posts", root_path %>
  <% end %>
 
      <div class="buttons">
        <% if user_signed_in? %> 
    <div class="buttons"> 
      <button class="button"><%= link_to "New Post", new_post_path %></button> 
      <button class="button">Log Out</button> 
    </div> 
  <% end %> 
       
      </div>
    </div>
 
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
    <%= yield %>
 
  </body>
</html>